.st-emotion-cache-1itdyc2{
    background-color: #b8b8b8;
}
h2{
    background-color: #1c1c1c;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 20px;
}

.st-emotion-cache-1qg05tj.e1y5xkzn3{
    color: #fff;
    background-color: #1c1c1c;
    border-radius: 6px;
    margin-bottom: 10px;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.webinfo{
    color: black;
    text-align: justify;
    
}

.stHeading{
    background-color: #192D43;
    border-radius: 20px;
    text-align: center;
}

